
@import './short.scss';
// 브랜드
$brand-greenLight:#F1F9F6;
$brand-green:#00855B;
// 배경
#root{
  overflow-x: hidden;
}
.bg{
  &-brand-greenLight{
    background-color: $brand-greenLight;
  }
}
.App {
  margin: 0 auto;
  overflow-x: hidden;
}
.btn-circle{
  display: flex;
  flex-direction: column;    
  justify-content: center;
  margin-right: 0.8rem;
  &.active{
    .icon{
      border:3px solid $brand-green;
    }
    
  }
  .icon{
    text-align: center;
    background-color: #fff;
    border-radius: 50rem;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    .icon--icon{
     font-size: 48px; 
    }

  }
  .icon--text{
    text-align: center;
    color: $ink-body;
    font-size: 1.2rem;
    margin-top: 0.8rem;
  }  
}

.list{
  color: $ink-dark;
  font-size: 1.5rem;
  padding: 1.6rem;
  .heading{
    font-weight: $font-weight-bolder;
    color: $ink;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
  }
  .state{
    color: $ink-darker;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .date{
    color: $muted;
    font-size: 1.2rem;
  }
  .badge{
    padding: .2em .45em;
  }  
}

.indicator {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  position: relative;
  &::after{
    content: '';
    background-color: $critical;
    border-radius: 50rem;
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    top:0.4rem;
    display: inline-block;
    z-index: 1;
  }
}
.formLabel {
  text-decoration: none;
  text-align: left;
  color: $ink-dark;
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  display: inline-block;
}
.formLabel-multichannel{
  min-width: 164px;
}
.formLabel-multichannel-not{
  min-width: 64px;
}
.form-check-input:checked {
  background-color: $brand-green;
  border-color: $brand-green;
}

.formHint {
  color: #A9AeB2;
}
.form-check-input {
  height: 1.6rem !important;
  width: 3.2rem !important;
  margin-top: 0em !important;
}
.sectionType{
  padding: 1.6rem;
  border-bottom: 1px solid #F0F0F0;

}
.section--title{
  font-weight: $font-weight-med;
  color: #8C9196;
  font-size: 1.3rem;
  padding-bottom: 0.8rem;
}
.navigation{
  box-sizing: border-box;
  text-align: center;
  font-weight: $font-weight-med;
  color: #222323;
  font-size: 1.6rem;
  position: relative;
  width: 100%;
  height: 5.6rem;
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filterBar{
  text-align: center;
  line-height: 56px;
  height: 56px;
  line-height: 56px;
}
.content{
  padding-top: 56px;
  padding-bottom: 92px;
}
.btnNav{
  border-radius: 0.4rem;
  text-align: center;
  font-size: 2.4rem;
  margin: 0 1.6rem;
  width: 3.2rem;
  height: 3.2rem;
  line-height: 3.2rem;
  color: #222323;
  display: inline-block;
  position: absolute;
  transition: all 0.2s;
  &:hover{
    background-color: #F0F0F0;
    color: #222323;

  }
}
.btnNav__l{
  left: 0;  
}
.btnNav__r{
  right: 0;  
}