#root {
  overflow-x: hidden;
}

.bg-brand-greenLight {
  background-color: #F1F9F6;
}

.App {
  margin: 0 auto;
  overflow-x: hidden;
}

.btn-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1.6rem;
  cursor: pointer;
}

.btn-circle.active .btn-circle--icon {
  border: 4px solid #00855B;
}

.btn-circle .icon--text {
  text-align: center;
  color: #8C96A2;
  font-size: 1.2rem;
  margin-top: 0.8rem;
  white-space: pre;
}

#multichannel .btn-circle--icon {
  width: 36px;
  height: 36px;
}

#multichannel .btn-circle--icon .icon--icon {
  font-size: 24px;
}

#multichannel--not .btn-circle--icon {
  width: 64px;
  height: 64px;
}

#multichannel--not .btn-circle--icon .icon--icon {
  font-size: 40px;
}

.btn-circle--icon {
  text-align: center;
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  border-radius: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-circle--icon .icon--icon::before {
  color: #fff;
}

.icon--icon span + span::before {
  color: #fff;
}

.icon-all:before {
  content: "\e90a";
  color: #00855b !important;
}

.icon-shoplinker span:before {
  color: #fff !important;
}

.btn-circle--all {
  color: #00855B !important;
  background-color: #fff;
}

.btn-circle--smartstore {
  background-color: #1abe41;
}

.btn-circle--godo {
  background-color: #f73338;
}

.btn-circle--sabangnet {
  background-color: #006dd6;
}

.btn-circle--shoplinker {
  background-color: #f37e2b;
}

.list {
  color: #8C96A2;
  font-size: 1.5rem;
  padding: 1.6rem;
}

.list .heading {
  font-weight: 700;
  color: #191E28;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list .state {
  font-size: 1.2rem;
  font-weight: 500;
}

.list .badge {
  padding: .2em .45em;
}

.list:last-child {
  border-bottom: none;
}

.list .logo {
  background-color: transparent !important;
  font-size: 2.4rem;
}

.list .logo .icon-shoplinker span:before {
  color: #f68b1f !important;
}

.indicator {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  position: relative;
}

.indicator::after {
  content: '';
  background-color: #E15850;
  border-radius: 50rem;
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  top: 0.4rem;
  display: inline-block;
  z-index: 1;
}

.formLabel {
  text-decoration: none;
  text-align: left;
  color: #4D5765;
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  display: inline-block;
}

.formLabel-multichannel {
  min-width: 164px;
}

.formLabel-multichannel-not {
  min-width: 64px;
}

.form-check-input:checked {
  background-color: #00855B;
  border-color: #00855B;
}

.formHint {
  color: #A9AeB2;
}

.form-check-input {
  height: 1.6rem !important;
  width: 3.2rem !important;
  margin-top: 0em !important;
}

.sectionType {
  padding: 1.6rem;
  border-bottom: 1px solid #F0F0F0;
}

.sectionType:last-child {
  border-bottom: none;
}

.section--title {
  font-weight: 500;
  color: #8C9196;
  font-size: 1.3rem;
  padding-bottom: 0.8rem;
}

.navigation {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-weight: 500;
  color: #222323;
  font-size: 1.6rem;
  position: relative;
  width: 100%;
  height: 5.6rem;
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filterBar {
  text-align: right;
  line-height: 56px;
  height: 56px;
  line-height: 56px;
}

.filterBar .filterBar--inner {
  padding-left: 16px;
  padding-right: 16px;
}

.content {
  padding-top: 56px;
  padding-bottom: 92px;
}

.btnNav {
  border-radius: 0.4rem;
  text-align: center;
  font-size: 2rem;
  margin: 0 1.6rem;
  width: 3.2rem;
  height: 3.2rem;
  line-height: 3.2rem;
  color: #222323;
  display: inline-block;
  position: absolute;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btnNav:hover {
  background-color: #F0F0F0;
  color: #222323;
}

.btnNav__l {
  left: 0;
}

.btnNav__r {
  right: 0;
}
