
$black:#000;
$darker:#333333;
$darken:#444444;
$dark:#5C5F62;
$body:#8C9196;
$muted:#A9AEB2;
$form:#D2D5D8;
$border:#E1E4E8;
$zone:#E9ECEF;
$lighter:#F0F0F0;
$lighten:#F5F5F5;
$light:#FAFBFB;



$brand-blue:#0a14c8;

$base-critical:#E15850;
$base-info:#2E72D2;


$success:#F1F8F5;
$critical:#FFF4F4;
$wraning:#FFF5EA;
$info:#EDF4FE;


$ink:#222323;
$ink-darker:#202223;
$ink-dark:#333D4B;
$ink-body:#5F6877;
$ink-muted:#999EAA;
$ink-form:#ABB4BD;

$font-weight-light: 100;
$font-weight-lighter: 300;
$font-weight-normal: 400;
$font-weight-med: 500;
$font-weight-bolder: 700;
$font-weight-bold: 900;
